.header {
  &__logo {
    position: relative;
    transition: 0.3s;
    background: -webkit-linear-gradient(180deg, #ffe65a, #5983f0);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 30px;
    font-weight: 700;
    text-decoration: none;
    letter-spacing: 2px;
    display: block;
    text-align: center;
    margin: 30px auto 0;

    &:hover {
        letter-spacing: unset;
    }
  }
}
