.header {
  &__logo {
    position: relative;
    transition: 0.3s;
    background: -webkit-linear-gradient(180deg, #ffe65a, #5983f0);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 30px;
    font-weight: 700;
    text-decoration: none;
    letter-spacing: 2px;
    display: block;
    text-align: center;
    margin: 30px auto 0;

    &:hover {
      letter-spacing: unset;
    }
  }

  &__add-categories {
    display: block;
    border-radius: 3px;
    border: none;
    color: #ffffff;
    background-color: #5983f0;
    box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.25);
    font-weight: 700;
    font-size: 14px;
    margin: 5px 0;
    padding: 10px;
    cursor: pointer;
    transition: margin 0.3s;
    text-decoration: none;
  }
}
