.header {
  &__logo {
    position: relative;
    // transition: 0.3s;
    // background: -webkit-linear-gradient(180deg, #ffe65a, #5983f0);
    // -webkit-background-clip: text;
    // -webkit-text-fill-color: transparent;
    // font-size: 30px;
    // font-weight: 700;
    // text-decoration: none;
    // letter-spacing: 2px;
    // display: block;
    // text-align: center;
    background: url('/static/logo.jpg') no-repeat center;
    width: 350px;
    height: 70px;
    display: block;
    margin: 30px auto 0;
    background-size: contain;

    &:hover {
      letter-spacing: unset;
    }
  }

  &__add-categories {
    display: block;
    border-radius: 3px;
    border: none;
    color: #ffffff;
    background-color: #5983f0;
    box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.25);
    font-weight: 700;
    font-size: 14px;
    margin: 5px 0;
    padding: 10px;
    cursor: pointer;
    transition: margin 0.3s;
    text-decoration: none;
  }
}

.burger {
  z-index: 20;
  position: absolute;
  left: 20px;
  top: 82px;
  flex-direction: column;
  display: none;
  justify-content: space-between;
  align-items: center;
  width: 30px;
  height: 25px;

  &__line {
    width: 100%;
    height: 4px;
    background-color: #5983f0;
  }
}

@media (max-width: 1024px) {
  .header {
    &__logo {
      margin: 30px auto;
    }
  }

  .burger {
    display: flex;
  }
}

@media (max-width: 500px) {
  .burger {
    top: 18px;
  }

  .header {
    &__logo {
      width: 300px;
    }
  }
}
