.counter {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-left: 10px;

  &__btn {
    width: 33px;
    height: 33px;
    background: #424242;
    outline: 0;
    border: none;
    border-radius: 2px 0 0 2px;
    color: #ffffff;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    cursor: pointer;

    &:hover {
      background: #ffcf00;
    }
  }

  &__value {
    border: 1px solid #f2f2f2;
    margin: 0;
    width: 30px;
    padding: 6px 10px;
    text-align: center;
    margin: 15px 0;
    outline: 0;
  }
}
