.slider {
  position: relative; 
  width: 100%;
  height: 500px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.leftArrow {
  position: absolute;
  z-index: 1;
  top: 50%;
  left: 32px;
  font-size: 3rem;
  color: #000000;
  cursor: pointer;
  user-select: none;
}

.rightArrow {
  position: absolute;
  top: 50%;
  right: 32px;
  font-size: 3rem;
  color: #000000;
  z-index: 1;
  cursor: pointer;
  user-select: none;
}

.slide {
  opacity: 0;
  transition-duration: 5s;
}

.slide.slideActive {
  opacity: 1;
  transition-duration: 5s;
  transform: scale(1.08);
}

@media (max-width: 1024px) {
  .leftArrow,
  .rightArrow {
    top: 56%;
  }
}

@media (max-width: 900px) {
  .leftArrow,
  .rightArrow {
    top: 92%;
  }

  .leftArrow {
    left: 92px;
  }

  .rightArrow {
    right: 92px;
  }
}

@media (max-width: 650px) {
  .slider {
    height: 300px;
  }

  .leftArrow,
  .rightArrow {
    top: 104%;
  }
}

@media (max-width: 440px) {
  .slideActive {
    width: 100%;
  }
}