.categories {
  list-style-type: none;
  display: flex;
  margin: 0;
  padding: 0;
  justify-content: flex-start;
  align-items: flex-start;

  &__subcategories {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    border: 1px solid #eeeeee;
    background-color: #ffffff;
    box-shadow: 5px 5px 3px 0 #eeeeee;
    padding: 20px;
    box-sizing: border-box;
    list-style-type: none;
  }

  &__subcategory-link {
    text-decoration: none;
    line-height: 2.3;
    font-size: 14px;
    display: block;
    color: #222222;

    &::first-letter {
      text-transform: uppercase;
    }

    &:hover {
      color: #5983f0;
    }
  }

  &__item {
    &:hover {
      .categories__subcategories {
        display: block;
      }
    }
  }

  &__link {
    color: #222222;
    text-decoration: none;
    line-height: 39px;
    display: block;
    padding: 0 20px;
    cursor: default;

    &::first-letter {
      text-transform: uppercase;
    }

    &:hover {
      background-color: #00000014;
    }
  }
}

@media (max-width: 1024px) {
  .categories {
    display: none;

    &_active {
      position: absolute;
      left: 0;
      top: -370px;
      z-index: 11;
      width: 282px;
      height: 100vh;
      padding-top: 120px;
      padding-left: 0;
      list-style: none;
      background-color: #222222;
      transform: translateX(0);
    }

    &__link {
      color: #ffffff;
    }

    &__subcategories {
      top: 316px;
      box-shadow: none;
    }
  }
}

@media (max-width: 768px) {
  .categories {
    &_active {
      top: -268px;
    }
  }
}

@media (max-width: 600px) {
  .categories {
    &_active {
      top: -206px;
    }
  }
}

@media (max-width: 500px) {
  .categories {
    &_active {
      top: -307px;
      padding-top: 70px;
    }

    &__subcategories {
      top: 267px;
    }
  }
}
