.footer {
  background: #222222;
}

.footerContacts {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding: 50px 0 25px;

  &__item {
    max-width: 230px;
    margin-bottom: 25px;
    padding: 0 20px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
  }

  &__title {
    text-align: center;
    font-size: 17px;
    color: #ffffff;
    text-transform: uppercase;
  }

  &__text {
    color: #ffffff;
    text-align: center;
    line-height: 25px;
  }
}

.ownerInfo {
  padding: 30px 0;
  background-color: #000000;

  &__text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  &__title {
    margin-bottom: 40px;
    color: #5983f0;
    text-align: center;
  }

  &__line {
    margin-top: 0;
    padding: 0 20px;
    color: #969696;
    line-height: 25px;
    text-align: center;
  }
}

@media (max-width: 500px) {
  .footerContacts {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}