.mini-basket {
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    min-width: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #ffe65a;
    padding: 0 20px;

    &__text {
        font-size: 12px;
        color: #222222;
    }

}