.button {
  height: 48px;
  border-radius: 3px;
  border: none;
  color: #ffffff;
  background-color: #5983f0;
  box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.25);
  font-weight: 700;
  font-size: 14px;
  margin: 20px 87px;
  padding: 0 20px;
  cursor: pointer;
  transition: margin 0.3s;

  &:hover {
    background-color: #3265e6;
    box-shadow: 0 2px 12px 0 rgba(0, 0, 0, 0.25);
    margin: 20px 87px 0;
  }
}

.full-price {
  text-align: center;
}

@media (max-width: 1024px) {
  .full-price {
    margin: 100px 0;
  }
}