.title {
  padding: 20px;
  color: #333333;
  width: 100%;
  font-size: 36px;
  text-align: center;
  box-sizing: border-box;
}

.title1 {
  padding: 20px;
  color: #333333;
  width: 100%;
  font-size: 36px;
  text-align: center;
  box-sizing: border-box;
}

.image {
  display: flex;
  justify-content: center;
  align-items: center;
}

.a {
  color: #222222;
}

.main-paragraph {
  font-size: 22px;
  padding: 0 20px;
  text-indent: 40px;
  text-align: justify;
}

.main-list {
  font-size: 22px;
  margin-bottom: 70px;
  padding: 0 20px;
  list-style: none;
}

@media (max-width: 1240px) {
  .image {
    max-width: 850px;
  }
}

@media (max-width: 1024px) {
  .image {
    margin-top: 85px;
    max-width: 700px;
  }
}

@media (max-width: 768px) {
  .image {
    height: 260px;
  }

  .main-paragraph {
    text-align: center;
  }

  .main-list {
    text-align: center;
  }
}

@media (max-width: 650px) {
  .image {
    max-width: 500px;
    height: 210px;
  }

  .title1 {
    margin-top: 80px;
  }
}

@media (max-width: 500px) {
  .image {
    width: 100%;
  }
}

@media (max-width: 415px) {
  .image {
    height: 170px;
    max-width: 320px;
  }
}
